<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xingyuan.springboot.entity.mapper.CarTypeMapper">
    <resultMap id="BaseResultMap" type="com.xingyuan.springboot.entity.po.CarType">
        <id column="car_type_id" jdbcType="INTEGER" property="carTypeId"/>
        <result column="car_type_name" jdbcType="VARCHAR" property="carTypeName"/>
        <result column="car_type_full_path" jdbcType="VARCHAR" property="carTypeFullPath"/>
        <result column="parent_car_type_id" jdbcType="INTEGER" property="parentCarTypeId"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        car_type_id, car_type_name, car_type_full_path, parent_car_type_id, description,
        create_time
    </sql>
    <select id="selectByExample" parameterType="com.xingyuan.springboot.entity.po.CarTypeExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from car_type
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limit != null">
            <if test="offset != null">
                limit ${offset}, ${limit}
            </if>
            <if test="offset == null">
                limit ${limit}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from car_type
        where car_type_id = #{carTypeId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from car_type
        where car_type_id = #{carTypeId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.xingyuan.springboot.entity.po.CarTypeExample">
        delete from car_type
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.xingyuan.springboot.entity.po.CarType">
        <selectKey keyProperty="carTypeId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into car_type (car_type_name, car_type_full_path, parent_car_type_id,
        description, create_time)
        values (#{carTypeName,jdbcType=VARCHAR}, #{carTypeFullPath,jdbcType=VARCHAR},
        #{parentCarTypeId,jdbcType=INTEGER},
        #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.xingyuan.springboot.entity.po.CarType">
        <selectKey keyProperty="carTypeId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into car_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="carTypeName != null">
                car_type_name,
            </if>
            <if test="carTypeFullPath != null">
                car_type_full_path,
            </if>
            <if test="parentCarTypeId != null">
                parent_car_type_id,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="carTypeName != null">
                #{carTypeName,jdbcType=VARCHAR},
            </if>
            <if test="carTypeFullPath != null">
                #{carTypeFullPath,jdbcType=VARCHAR},
            </if>
            <if test="parentCarTypeId != null">
                #{parentCarTypeId,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.xingyuan.springboot.entity.po.CarTypeExample"
            resultType="java.lang.Long">
        select count(*) from car_type
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update car_type
        <set>
            <if test="record.carTypeId != null">
                car_type_id = #{record.carTypeId,jdbcType=INTEGER},
            </if>
            <if test="record.carTypeName != null">
                car_type_name = #{record.carTypeName,jdbcType=VARCHAR},
            </if>
            <if test="record.carTypeFullPath != null">
                car_type_full_path = #{record.carTypeFullPath,jdbcType=VARCHAR},
            </if>
            <if test="record.parentCarTypeId != null">
                parent_car_type_id = #{record.parentCarTypeId,jdbcType=INTEGER},
            </if>
            <if test="record.description != null">
                description = #{record.description,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update car_type
        set car_type_id = #{record.carTypeId,jdbcType=INTEGER},
        car_type_name = #{record.carTypeName,jdbcType=VARCHAR},
        car_type_full_path = #{record.carTypeFullPath,jdbcType=VARCHAR},
        parent_car_type_id = #{record.parentCarTypeId,jdbcType=INTEGER},
        description = #{record.description,jdbcType=VARCHAR},
        create_time = #{record.createTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.xingyuan.springboot.entity.po.CarType">
        update car_type
        <set>
            <if test="carTypeName != null">
                car_type_name = #{carTypeName,jdbcType=VARCHAR},
            </if>
            <if test="carTypeFullPath != null">
                car_type_full_path = #{carTypeFullPath,jdbcType=VARCHAR},
            </if>
            <if test="parentCarTypeId != null">
                parent_car_type_id = #{parentCarTypeId,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where car_type_id = #{carTypeId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xingyuan.springboot.entity.po.CarType">
        update car_type
        set car_type_name = #{carTypeName,jdbcType=VARCHAR},
        car_type_full_path = #{carTypeFullPath,jdbcType=VARCHAR},
        parent_car_type_id = #{parentCarTypeId,jdbcType=INTEGER},
        description = #{description,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where car_type_id = #{carTypeId,jdbcType=INTEGER}
    </update>
</mapper>